.logo-div {
  width:100%;
  font-size:3rem;
  color:#0B3C5D;
}
.404-photo {
  width:75%;
  margin-left:auto;
  margin-right:auto;
}
.photo-credit {
  text-align:center;
  font-size:0.75rem;
  width:inherit;
}
